extends ../layouts/base

block content
    .container
        div#videoContainer(data-id=video._id)
            video(src=video.fileUrl loop muted playsinline )
            div#videoControls.videoControls
                div.videoControls__play
                    span#play.videoControls__playBtn
                        i.fas.fa-play
                    div.videoControls__time
                        span#currenTime 00:00
                        span  / 
                        span#totalTime 00:00
                input(type="range",step="1", value="0", min="0")#timeline.videoControls__timeline
                div.videoControls__volume
                    input(type="range",step="0.1", value=0.5, min="0", max="1")#volume
                    span#mute
                        i.fas.fa-volume-up
                div
                    span#fullScreen
                        i.fas.fa-expand
        div.video__data
            .video__title #{video.title}
                p.video__when=video.when

            if String(video.owner._id) === String(loggedInUser._id)
                div.edit_delete
                    span.edit_video
                        a(href=`${video.id}/edit`)  [Edit Video]
                    span.delete_video
                        a(href=`${video.id}/delete`) [Delete Video]

                //- small.video__owner 
                //-     .__createdAt Uploaded at &nbsp; #{video.createdAt}
        if loggedIn
            div.video__add-comments
                form.video__comment-form#commentForm
                    input(type="text", placeholder="    Commment in 25words..." ,  onblur=`placeholder='    Commment in 25words...'`, onfocus=`placeholder=''`,maxlength="25")
                    button Add Comment
        div.video__comments
            ul
                each comment in video.comments.reverse()
                    li.video__comment(data-id=comment.id)
                        i.fas.fa-comment  #{comment.owner_name}
                        span  #{comment.text}
                        if String(comment.owner) === String(loggedInUser._id)
                            span.deleteCommentBtn ❌
                        else  
                            span 



block scripts
    script(src="/static/js/videoPlayer.js") 
    if loggedIn
        script(src="/static/js/commentSection.js")  
