extends ../layouts/base

block content
    .container
        .photo-watch-title 
            a(href="/gallery").backtogallery 
                i.fas.fa-chevron-left
            h1.__title=photo.title
            .photo__owner Uploaded by 
                a.photo__owner__name(href=`/users/${photo.owner._id}`)=photo.owner.name
        .photo-watch
            img(src="/" + photo.fileUrl).photo-img
            div
                p.__description=photo.description
            //- .button
            //-     a(href="/gallery") back to gallery



    //- if String(photo.owner._id) === String(loggedInUser._id)
    //-     a(href=`${photo.id}/edit`) Edit Photo &rarr;
    //-     br
    //-     a(href=`${photo.id}/delete`) Delete Photo &rarr;
